@mixin breakpoint($point) {

  @if $point == decrease-desktop {
    @media (max-width: 1530px) { @content ; }
  }
  @else if $point == desktop {
    @media (max-width: 1199px) { @content ; }
  }
  @else if $point == medium-desktop {
    @media (max-width: 991px) { @content ; }
  }
  @else if $point == small-desktop {
    @media (max-width: 900px) { @content ; }
  }
  @else if $point == tablet {
    @media (max-width: 800px) { @content ; }
  }
  @else if $point == mobileonly {
    @media (max-width: 575px)  { @content ; }
  }
  @else if $point == small-mobile {
    @media (max-width: 450px)  { @content ; }
  }

}