$white-color: white;
$black-color: black;
$hover-button-color: #FFB600;
$footer-background-color: #070559;
$copyright-block-color: #05043E;
$bright-blue-color: #05028D;
$inactive-color: #B3B3B3;
$inactive-button-color: #F2C24C;
$inactive-world-in-button-color: #796126;
$error-color: #EC4040

