@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700&display=swap');

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Source Sans Pro', sans-serif;
$third-font: 'Source Sans Pro', serif;

