.about-us-block {
    position: relative;

    .about-us-block-content {
      display: flex;
      padding-top: 72px;
      padding-bottom: 60px;

      @include breakpoint(desktop) {
        flex-direction: column;
      }

      @include breakpoint(medium-desktop) {
        flex: none;
        padding-bottom: 0;
      }

      @include breakpoint(small-mobile) {
        padding-top: 30px;
      }
    }

  .call-to-action-side {
    flex: 1 1 50%;
    padding-top: 28px;
  }

  .button {
    @include breakpoint(desktop) {
      display: none;
    }
  }

    .default-text {
      margin-top: 15px;
    }

    .description-side {
      display: flex;
      flex: 1 1 33.33%;
      position: relative;

      @include breakpoint(desktop) {
        align-self: center;
      }

      @include breakpoint(medium-desktop) {
        align-self: flex-start;
      }

      @include breakpoint(small-desktop) {

      }

      @include breakpoint(tablet) {
        flex-wrap: wrap;
      }

      .yellow-block {
        background: $white-color;
        border: 5px solid $hover-button-color;
        color: $black-color;
        height: 270px;
        border-radius: 2px;
        text-align: left;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 64px;

        @include breakpoint(decrease-desktop) {
          order: 1;
        }

        @include breakpoint(medium-desktop) {
          margin-right: 20px;
        }

        @include breakpoint(small-mobile) {
          padding-top: 35px;
          padding-left: 30px;
          padding-right: 24px;
          height: 250px;
        }
      }

      p {
        margin: 0;
      }

      .number-of-tasks {
        font-family: $primary-font;
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
      }

      .tasks {
        font-family: $primary-font;
        font-weight: 600;
        font-size: 15px;
        line-height: 160%;
        max-width: 212px;
        padding-top: 20px;

        @include breakpoint(decrease-desktop) {
          width: 212px;
        }
      }

      .tasks-description {
        font-family: $secondary-font;
        font-size: 17px;
        line-height: 160%;
        max-width: 214px;
        padding-top: 10px;

        @include breakpoint(decrease-desktop) {
          width: 214px;
        }
      }

      .blue-block {
        position: absolute;
        top: -90px;
        background: $bright-blue-color;
        color: $white-color;
        border-radius: 2px;
        height: 250px;
        padding-top: 50px;
        text-align: left;
        padding-left: 50px;
        padding-right: 54px;
        right: 0;

        @include breakpoint(decrease-desktop) {
          top: 0;
          margin-left: -50px;
          order: 2;
          margin-top: -90px;
          position: relative;
        }

        @include breakpoint(desktop) {
          margin-top: -125px;
        }

        @include breakpoint(medium-desktop) {
          margin-top: 10px;
          margin-left: 20px;
          height: 270px;
          padding-right: 74px;
        }

        @include breakpoint(tablet) {
          margin-left: 0;
          padding-right: 74px;
        }

        @include breakpoint(small-mobile) {
          padding-top: 40px;
          padding-left: 30px;
          padding-right: 34px;
          height: 250px;
        }
      }
    }
}
