.contact-form-block {
  position: relative;
  overflow: hidden;

  .hide {
    display: none;
  }

  .contact-form-block-content {
    padding-top: 72px;
    color: $black-color;
    width: 100%;
    flex: 1 0 100%;
    transition: ease-in 0.3s;
    opacity: 1;

    @include breakpoint(small-mobile) {
      padding-top: 50px;
    }
  }

  .slider {
    display: flex;
    position: relative;
    transition: 1s;
    left: 0;

    & .--hidden {
      opacity: 0;
      z-index: -1;
    }
  }

  .description-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .default-text {
    padding-bottom: 0;
  }

  .contact-description {
    margin-top: 15px;
    flex: 1 1 50%;
  }

  .switch-part {
    @include breakpoint(medium-desktop) {
      display: none;
    }
  }

  .switch-button{
    background-color: transparent;
    color: $inactive-color;
    display: inline-block;
    padding: 0 0 0 30px;
    border: none;
    outline: none;
    font-family: $primary-font;
    font-weight: 600;
    font-size: 15px;
    line-height: 160%;
    cursor: pointer;
  }

  .active {
    color: $black-color;
  }

  .input-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: calc(100% - 40px);

    .input-decoration {
      outline: none;
      border: none;
      border-bottom: 0.25px solid $inactive-color;
      font-family: $secondary-font;
      font-size: 17px;
      line-height: 160%;
      color: $black-color;
      width: 100%;
      padding: 20px;

      &.input-error {
        color: $error-color;
        border-bottom-color: $error-color;

        &::placeholder {
          color: $error-color;
        }
      }

      &::placeholder {
        color: $inactive-color;
      }

      &:focus {
        border-color: $black-color;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }

    @include breakpoint(medium-desktop) {
      display: block;
      flex: none;
    }
  }


  .input-item {
    flex: 0 1 45%;
    margin-top: 30px;

    &.full-width {
      flex-basis: 100%;
    }
  }

  .contact-form-button {
    text-align: right;
    margin-top: 25px;

    @include breakpoint(desktop) {
      text-align: left;
    }
  }

  .date-select-button {
    background-color: $inactive-button-color;
    color: $inactive-world-in-button-color;
    border: none;
    outline: none;
  }

  .active-button {
    background-color: $hover-button-color;
    color: $black-color;
    border: none;
    outline: none;
  }

  .date-selector-part {
    flex: 1 0 100%;
    transition: ease-out 0.3s;
    opacity: 1;
    padding-top: 72px;

    @include breakpoint(small-desktop) {
      padding-top: 50px;
    }
  }

  .input-part {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    @include breakpoint(medium-desktop) {
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    @include breakpoint(small-desktop) {
      flex-direction: column;
      justify-content: flex-start;

    }
  }

  .calendar {
    flex: 1 1 50%;

    @include breakpoint(mobileonly) {

    }

    .calendar-content {
      max-width: 500px;

      @include breakpoint(mobileonly) {
        max-width: 400px;
      }

      @include breakpoint(small-mobile) {
        max-width: 300px;
      }
    }

    .month-selector {
      font-weight: 600;
      font-size: 15px;
      font-family: $primary-font;
      width: 100% ;
      display: block;
      text-align: center;
      position: relative;

      .arrow-left {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        text-align: left;
        position: absolute;
        cursor: pointer;

        svg {
          fill: black;
        }
      }

      .arrow-right {
        text-align: right;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 10px;
        position: absolute;
        cursor: pointer;

        svg {
          fill: black;
        }
      }

      .--inactive {
        cursor: default;

        svg {
          fill: $inactive-color;
        }
      }

      .month-name {
        text-transform: uppercase;
      }
    }

    .date-selector-wrapper {
      position: relative;
      overflow: hidden;
    }

    .date-selector {
      display: flex;
      justify-content: space-between;
      font-family: $secondary-font;
      font-size: 17px;
      line-height: 160%;
      margin-top: 10px;
      position: relative;
      left: 0;
      transition: 0.1s;

      &.input-error {
        color: $error-color;
      }

      .selector {
        flex: 0 0 25%;
        position: relative;
        display: block;

        .select-day {
          display: inline-block;
          width: 100%;
        }
      }
    }

    .time-selector {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      font-family: $secondary-font;
      font-size: 17px;
      line-height: 160%;

      .time-value {
        flex: 1 1 25%;
      }
    }

    input {
      display: none;
      position: absolute;
      width: 100%;
      appearance: none;

      &:checked + label {
        background: $bright-blue-color;
        color: $white-color;
      }
    }

    label {
      display: block;
      border: 1px solid $inactive-color;
      border-radius: 1px;
      text-align: center;
      padding: 10px;
      margin: 10px 10px 10px 0;
      cursor: pointer;
      transition: 0.1s;

      &.input-error {
        border-color: $error-color;
        color: $error-color;
      }
    }
  }

  .comment-input {
    flex: 1 1 50%;
    text-align: right;

    @include breakpoint(desktop) {
      flex: 1 1 35%;
      margin-left: 10px;
    }

    @include breakpoint(small-desktop) {
      flex: 1 1 50%;
      text-align: left;
      margin-left: 0;
    }

    textarea {
      font-family: $secondary-font;
      font-size: 17px;
      color: $black-color;
      padding: 20px;
      margin-top: 40px;
      border: 1px solid $inactive-color;
      border-radius: 1px;
      resize: none;
      outline: none;
      overflow: auto;
      width: 100%;
      height: 100%;
      max-width: 500px;
      max-height: 305px;

      @include breakpoint(small-desktop) {
        max-width: 450px;
        max-height: 305px;
        margin-top: 20px;
      }

      @include breakpoint(mobileonly) {
        max-width: 350px;
      }

      @include breakpoint(small-mobile) {
        max-width: 250px;
      }

      &.input-error {
        color: $error-color;
        border-color: $error-color;

        &::placeholder {
          color: $error-color;
        }
      }

      &::placeholder {
        color: $inactive-color;
      }

      &:focus {
        border-color: $black-color;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }
  }

  .thanks-message {
    color: $black-color;
    transition: ease 0.1s;
    opacity: 1;
    flex: 1 0 100%;
    padding-top: 72px;

    .thanks-message-content{
      display: flex;
      justify-content: space-between;

      @include breakpoint(medium-desktop) {
        display: block;
        flex: none;
      }

      @include breakpoint(small-mobile) {
        padding-top: 50px;
      }

    .instruction-part {
      flex: 1 1 50%;

      .consult-info {
        font-family: $secondary-font;
        font-size: 17px;
        line-height: 160%;
        max-width: 400px;
        margin: 0;
        padding-top: 15px;

        .transition-button {
          color: $bright-blue-color;
          padding: 0;
        }
      }
    }

    .blog-transition-part {
      flex: 1 1 30%;

      .blog-transition-part-content {
        margin-top: 35px;
        font-family: $secondary-font;
        font-size: 17px;
        line-height: 160%;
        max-width: 400px;
      }

      .blog-photo img {
        max-width: 400px;
        width: 100%;
        max-height: 151px;
        border: 0.5px solid $inactive-color;
        border-radius: 1px;
      }

      .article-publication-date {
        margin: 0;
        padding-top: 5px;
        color: $inactive-color;
      }

      .article-description {
        margin: 0;
        padding-top: 5px;
      }

      .blog-transition-button {
        color: $bright-blue-color;
        padding: 5px 0 0 0;
        font-weight: bold;
        display: block;
        text-align: right;
      }
    }
  }
  }
}
