footer {

  .footer-content-wrapper {
    background-color: $footer-background-color;
    width: 100%;

    .footer-content {
      margin-top: 60px;
      display: flex;
      align-items: center;
      font-family: $primary-font;
      font-weight: 600;
      font-size: 15px;
      height: 115px;

      .footer-logo {
        flex: 1 1 20%;
        fill: $white-color;

        @include breakpoint(mobileonly) {
          display: none;
        }
      }

      .footer-email {
        flex: 1 1 60%;
        text-align: center;

        @include breakpoint(medium-desktop) {
          flex: none;
        }

        @include breakpoint(mobileonly) {
          flex: 0 1 30%;
        }

        a {
          color: $white-color;

          &:hover {
            color: $hover-button-color;
          }
        }

        .mail {
          @include breakpoint(medium-desktop) {
            flex: 1 0 60%;
          }
        }

        .footer-telephone {

          @include breakpoint(medium-desktop) {
            display: none;
          }
        }
      }

      .footer-social-network {
        flex: 1 1 20%;
        text-align: right;

        @include breakpoint(small-mobile) {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
        }

        .footer-social-network-item {
          width: 15px;
          height: 15px;
          margin-left: 20px;
          display: inline-block;
          fill: $white-color;

          @include breakpoint(small-mobile) {
            padding-left: 10px;
            padding-top: 10px;
          }

          &:hover {
            fill: $hover-button-color;
          }
        }
      }
    }
  }
}

  .footer-copyright-wrapper {
    background: $copyright-block-color;
    width: 100%;

    .footer-copyright {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $primary-font;
      font-weight: 600;
      font-size: 10px;
      height: 36px;
    }

    .copyright.svg {
      width: 12px;
      height: 12px;
    }

    p {
      padding-left: 10px;
      margin: 0;
      color: white;
    }
  }

