
header {
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 60px;
    z-index: 5;
    position: absolute;
    left: 0;
    right: 0;

    @include breakpoint (desktop) {
      align-items: normal;
      top:0;
      bottom: 0;
    }
  }

  .logo-wrapper {
    flex: 1 1 55%;
    min-width: 100px;
  }

  .mobile-menu {
    display: none;

    @include breakpoint (desktop) {
      display: block;
      background: none;
      border: none;

      .menu-btn {
          display: block;
          height: 25px;
          width: 25px;
          position: relative;
      }

      .menu-btn span,
      .menu-btn span::before,
      .menu-btn span::after {
        position: absolute;
        top: 50%; margin-top: -1px;
        left: 50%; margin-left: -10px;
        width: 20px;
        height: 2px;
        background-color: #222;
      }

      .menu-btn span::before,
      .menu-btn span::after {
        content: '';
        display: block;
        transition: 0.3s;
      }

      .menu-btn span::before {
        transform: translateY(-5px);
      }

      .menu-btn span::after {
        transform: translateY(5px);
      }

      .menu-btn_active span {
        height: 0;
      }

      .menu-btn_active span:before {
        transform: rotate(45deg);
      }
      .menu-btn_active span:after {
        transform: rotate(-45deg);
      }
    }
  }

  .header-items-wrapper {
    flex: 1 1 45%;

    .call-svg {
      display: none;
    }
  }

  .header-items {
    display: flex;
    justify-content: space-between;
    list-style: none;
    line-height: 18px;
    font-weight: 600;
    font-size: 15px;
    font-family: $primary-font;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      flex: 0 1 auto;
      padding: 0 10px;
      margin: 0;

      a {
        transition: all 0.1s;

        &:hover {
          color: $hover-button-color;
        }
      }
    }

  }
  .header-logo {
    fill: $black-color;
  }

  #close_mobile_menu {
    margin-left: auto;
    padding-top: 60px;
    margin-right: 20px;
  }

  @include breakpoint (desktop) {

    .background-menu-mask {
      display: none;
      position: fixed;
      background: $black-color;
      opacity: 0.9;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;

      &.--active {
        display: block;
      }
    }

    .header-items-wrapper {
      display: flex;
      flex-direction: column;
      position: fixed;
      background-color: $white-color;
      top: 0;
      right: -400px;
      width: 300px;
      height: 100vh;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: 0.2s;
      z-index: 2;

      &.--active {
        right: 0;
      }

      .header-items {
        display: block;
        flex: 1 0 auto;
        position: relative;

        li {
          display: block;
          margin-left: 50px;
          margin-top: 30px;
        }
      }

      .call-svg {
        display: block;
        text-align: right;
        margin-right: 20px;
        align-self: flex-end;
        padding-bottom: 20px;
      }
    }
  }

  @include breakpoint (small-mobile) {

    .header-items-wrapper {
      width: 230px;
    }
  }
}




