.landing-page {

  .home-block {
    position: relative;
    height: 100vh;

    .home-block-content {
      display: flex;
      align-items: center;
      height: 100%;
    }

    .background-photo {
      position: absolute;
      max-width: 1000px;
      height: 100%;
      z-index: -1;
      right: 52.5%;

      @include breakpoint(medium-desktop) {
        right:0;
      }
    }

    .background-photo img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.8;
    }

    .tagline {
      font-family: $secondary-font;
      max-width: 295px;
      line-height: 23.5px;
      margin-top: 15px;
    }

    .hero-block {
      flex: 1 1 58.33%;
    }

    .action-block {
      flex: 1 1 41.66%;

      @include breakpoint(medium-desktop) {
       display: none;
      }
    }
  }
}
