.portfolio-block {
  position: relative;

  .portfolio-block-content {
    padding-top: 72px;
    padding-bottom: 60px;

    @include breakpoint(medium-desktop) {
      padding-bottom: 0;
    }

    @include breakpoint(small-mobile) {
      padding-top: 50px;
      padding-bottom: 0;
    }
  }

  .portfolio-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $white-color;
  }

  .portfolio-photo img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
  }

  p {
    margin: 0;
  }

  .portfolio-item-content {
    margin-top: 30px;
    position: relative;
  }

  .portfolio-item {
    flex: 0 1 400px;

    @include breakpoint(medium-desktop) {
      margin-right: 30px;
    }

    @include breakpoint(mobileonly) {
      flex: 0 1 350px;
    }
  }

  .hover-block {
    opacity: 0;
    position: absolute;
    transition: all 0.2s;
    width: 100%;
    height: 100%;
    max-width: 400px;

    @include breakpoint(small-mobile) {
      height: 200px;
      width: 300px;
    }

    .hover-block-content {
      position: relative;
      z-index: 2;
      padding: 30px;

      @include breakpoint(small-mobile) {
        padding: 15px;
      }
    }


    .background-mask {
      background: #222222;
      opacity: 0.9;
      backdrop-filter: blur(2px);
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
    }

    &:hover {
      opacity: 1;
    }
  }

  .company-naming {
    font-family: $primary-font;
    font-weight: 600;
    font-size: 15px;
    line-height: 160%;
    color: $hover-button-color;

    @include breakpoint(small-mobile) {
      font-weight: 600;
      font-size: 13px;
      line-height: 160%;
    }
  }

  .company-description {
    font-family: $secondary-font;
    font-size: 17px;
    line-height: 160%;
    max-width: 340px;
    padding-top: 10px;

    @include breakpoint(small-mobile) {
      font-size: 13px;
    }
  }

  .work-done {
    font-family: $secondary-font;
    font-weight: bold;
  }

  .work-info-sentence {
    display: block;
    padding-top: 0;
  }

  .portfolio-photo {
    max-width: 400px;
    height: 300px;

    @include breakpoint(small-mobile) {
      height: 200px;
      width: 300px;
    }
  }
}