.services-block {
  position: relative;

  .services-block-content {
    padding-top: 72px;
    padding-bottom: 60px;

    @include breakpoint(medium-desktop) {
      padding-bottom: 0;
    }

    @include breakpoint(small-mobile) {
      padding-top: 50px;
    }
  }

  .service-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $black-color;
    flex-wrap: wrap;
  }

  .service-item {
    flex: 1 1 50%;

    @include breakpoint(small-desktop) {
      flex: 1 1 55%;
    }
  }

  .service-item-content {
    padding-left: 25px;
    position: relative;
    margin-top: 40px;
    padding-right: 10px;

    .main-service-icon svg {
      transition-delay: 0.1s;
    }

    &:hover {

      &::before {
        border-color: $hover-button-color;
        transition: all 0.2s;
        transition-delay: 0s;
      }

      .figures {

        &-bg1, &-bg2, &-bg3 {
          transition: 0.2s;
        }

        &-bg1, &-bg2, &-bg3 svg{
          fill: none;
        }

        .main-service-icon svg {
          transition: all 0.2s;
          fill: $hover-button-color;
          transition-delay: 0s;
        }

        &-bg1 {
          opacity: 0.6;
          transition-delay: 0.1s;
        }

        &-bg2 {
          opacity: 0.4;
          transition-delay: 0.15s;
        }

        &-bg3 {
          opacity: 0.2;
          transition-delay: 0.2s;
        }
      }
    }
  }

  .service-item-content::before {
    content: ' ';
    position: absolute;
    border: 2px solid $bright-blue-color;
    transition-delay: 0.1s;
    border-radius: 8px;
    top: -10px;
    left:0;
    bottom:0;
  }

  p {
    margin: 0;
  }

  .figures {
    width: 30px;
    height: 30px;
    fill: $bright-blue-color;
    position: relative;

    &-bg1, &-bg2, &-bg3 {
      position: absolute;
      width: 30px;
      height: 30px;
      opacity: 0;
      transition: 0.1s;
    }

    svg {
      position: relative;
      z-index: 4;
    }

    .polygon1 {
      left: 0.5px;
      bottom: 2px;
    }

    .polygon2 {
      left: 2px;
      bottom: 3px;
    }

    .polygon3 {
      left: 3.5px;
      bottom: 4px;
    }

    &-bg1 {
      left: 2px;
      bottom: 1px;
      z-index: 3;
      transition-delay: 0.15s;
    }

    &-bg2 {
      left: 4px;
      bottom: 2px;
      z-index: 2;
      transition-delay: 0.1s;
    }

    &-bg3 {
      left: 6px;
      bottom: 3px;
      z-index: 1;
      transition-delay: 0.05s;
    }
  }

  .service-name {
    font-family: $primary-font;
    font-weight: 600;
    font-size: 15px;
    line-height: 160%;
    padding-top: 25px;
  }

  .service-description {
    font-family: $secondary-font;
    font-size: 17px;
    line-height: 160%;
    max-width: 337px;
    padding-top: 15px;
  }
}