html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: $black-color;
  text-decoration: none;
}

.content-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 75px;

  @include breakpoint(tablet) {
    padding: 0 30px;
  }
}

.titles {
  font-family: $primary-font;
  font-size: 51px;
  max-width: 400px;
  margin: 0;
  line-height: 62px;

  @include breakpoint(mobileonly) {
    font-size: 36px;
    max-width: 320px;
    line-height: 44px;
  }
}

.default-text {
  font-family: $secondary-font;
  max-width: 400px;
  font-size: 17px;
  line-height: 160%;
  margin: 0;
  padding-bottom: 25px;

  @include breakpoint(mobileonly) {
    max-width: 350px;
  }
}

.button {
  font-family: $primary-font;
  font-weight: 600;
  background: $hover-button-color;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.14);
  border-radius: 1px;
  color: $black-color;
  font-size: 15px;
  cursor: pointer;
  min-width: 296px;
  height: 52px;
  line-height: 50px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}



